:root {
    background-color: beige;
}
#title {
    display: grid;
    grid-template-rows: 2fr 1fr;
    margin: 2em;
    justify-content: center;
    background-color: rgba(150, 106, 192, 0.3);
    border: solid 2px;
}
#name {
    padding-top: 1em;
    
}
#img-div {
    display: grid;
    height: 500px;
    width: 500px;
    margin: 2em;
    background-color: rgba(150, 106, 192, 0.3) ;
    justify-items: center;
}