:root {
    background-color: beige;
}
#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    grid-auto-rows: minmax(100px, auto-fit);
    margin-top: 50px;
   
    
}
.container {
    background-color: rgba(141, 74, 161, 0.25);
    display: flex;
    margin: auto;
    min-width: 200px;
    max-width: 800px;
    border-radius: 2%;
    border: black;
    border-style: groove;
    border-width: 2px;
    padding: 10px;
    justify-content: center;
}
#title {
   grid-column: 1 /4;
   grid-row: 1;
   text-align: center;
   font-family: Impact, Charcoal, sans-serif;
   
}
#img-div {
    grid-column: 1 / 4;
    background-color: rgba(141, 74, 161, 0);
    border-width: 0;
}

img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: contain;
}
figcaption {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}
figure {
    margin: auto;  
}
#tribute-info {
    grid-column: 1 /4;
    grid-row: 3;
    height: auto;
    flex-direction: column;
    font-family: Tahoma, Geneva, sans-serif;
    
}

@media only screen and (min-width: 992px) {
    img {
        max-height: 100%;
    }
}