:root {
    background-color: beige;
}
#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    grid-auto-rows: minmax(100px, auto-fit);
    margin-top: 50px;
   
    
}
.container {
    background-color: rgba(141, 74, 161, 0.25);
    display: flex;
    margin: auto;
    width: 75%;
    border-radius: 2%;
    border: black;
    border-style: groove;
    border-width: 2px;
    padding: 20px;
    justify-content: center;
}
#title {
   grid-column: 1 /4;
   grid-row: 1;
   text-align: center;
}
#img-div {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    width: 75%;
    height: auto;
    background-color: rgba(141, 74, 161, 0);
    border-width: 0;

}
#content {
    grid-column: 1 /4;
    grid-row: 6;
    height: auto;
    
}